@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,100&display=swap');


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: hsl(0, 0%, 100%);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}

main.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container__counter {
    align-items: center;
    background: hsl(312, 100%, 84%);
    border-radius: 18px;
    display: flex;
    height: 80px;
    margin: 0 auto;
    justify-content: space-around;
    width: 250px;
}

.number {
    border-radius: 10px;
    box-shadow: 0 0 3px 1px hsl(298.14deg 97.72% 47.83%);
    padding: 15px 35px;
}

.button {
    cursor: pointer;
    padding: 10px;
}